html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background: #2c3e50;
}

.catalog-block {
    display: table;
    width: 100%;
}

.cards {
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 0;
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 100%; 
    --distance: 5%;
    text-align: center;
}

h2 {
    font-weight: 400;
}

a{
    height:100%;
    width:100%;
    color: white;
}
    a:hover {
        text-decoration: none;
        color: white;
    }

.card {
    background: #1abc9c;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-left: -2rem;
    transition: 0.2s;
    width: 25%;
}

.card:not(:first-child){
    margin-left: 3.5%;
}

.card:hover{
    transform: translateY(-1rem);
}

@import "bourbon";

img {
    max-width: 100%;
    height: 100%;
    vertical-align: bottom;
}

aside{
    width: 100%;
    height: 25%;
}
aside > img{
    width: 100%;
    height: 100%;
}
.recipe-card {
    background: #1abc9c;
    color: white;
    margin: 5%;
    width: 23%;
    max-height: 200vh;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

    .recipe-card aside {
        position: relative;
        color: white;
    }
        .recipe-card aside img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .recipe-card aside .button {
            background: #57abf2;
            display: inline-block;
            position: absolute;
            top: 80%;
            right: 3%;
            width: 5em;
            height: 5em;
            border-radius: 5em;
            line-height: 5em;
            text-align: center;
        }
            .recipe-card aside .button .icon {
                vertical-align: middle;
            }

    .recipe-card article {
        padding: 1.25em 1.5em;
        display: inline-block;
        color: white;
    }
        .recipe-card article ul {
            list-style: none;
            margin: 0.5em 0 0;
            padding: 0;
            color: white;
        }
            .recipe-card article ul li {
                display: inline-block;
                margin-left: 1em;
                line-height: 1em;
                color: white;
            }
                .recipe-card article ul li:first-child {
                    margin-left: 0;
                    color: white;
                }

                .recipe-card article ul li .icon {
                    vertical-align: bottom;
                }

                .recipe-card article ul li span:nth-of-type(2) {
                    margin-left: 0.5em;
                    font-size: 0.8em;
                    font-weight: 300;
                    vertical-align: middle;
                    color: white;
                }




        .recipe-card article h2, h3 {
            margin: 0;
            font-weight: 300;
            color: white;
        }

        .recipe-card article h2 {
            font-size: 28px;
            color: white;
        }

        .recipe-card article h3 {
            font-size: 15px;
            color: white;
        }

        .recipe-card article p {
            margin: 1.25em 0;
            font-size: 13px;
            font-weight: 400;
            color: white;
        }
            .recipe-card article p span {
                font-weight: 700;
                color: white;
            }

        .recipe-card article .ingredients {
            margin: 2em 0 0.5em;
            color: white;
        }

    .recipe-card .icon {
        display: inline;
        display: inline-block;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
        background-repeat: no-repeat;
    }

    .recipe-card .icon-calories, .icon-calories\:regular {
        background-position: 0 0;
        width: 16px;
        height: 19px;
    }

    .recipe-card .icon-clock, .icon-clock\:regular {
        background-position: 0 -19px;
        width: 20px;
        height: 20px;
    }

    .recipe-card .icon-level, .icon-level\:regular {
        background-position: 0 -39px;
        width: 16px;
        height: 19px;
    }

    .recipe-card .icon-play, .icon-play\:regular {
        background-position: 0 -58px;
        width: 21px;
        height: 26px;
    }

    .recipe-card .icon-users, .icon-users\:regular {
        background-position: 0 -84px;
        width: 18px;
        height: 18px;
    }
