{% extends "index.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <form method="POST" action="" enctype=multipart/form-data>
        {{ form.csrf_token }}
        <input type="text" name="name" id="name" placeholder="Название еды" /><br />
        <textarea name="ingridients" id="ingridients" placeholder="Ингридиенты"></textarea><br />
        <input type="text" name="url" id="url" placeholder="URL сайта рецепта" /><br />
        <input type="text" name="url_img" id="url_img" placeholder="URL фото еды" /><br />
        <input type="text" name="category" id="category" placeholder="Введите категорию еды" /><br />
        <input type="text" name="time" id="time" placeholder="Время приготовления" /><br />
        {{ form.submit }}
    </form>

<!-- HERE YOUR CONTENT HTML CODE -->
{% endblock %}