{% extends "index.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/catalog_style.css') }}" />
{% endblock %}
{% block class %}start-catalog{% endblock %}
{% block content %}
<!-- HERE YOUR CONTENT HTML CODE -->
<div class="cards">
    <a href="#" class="card">
        <h2>Первое</h2>
        <p>There is some text</p>
    </a>
    <a href="#" class="card">
        <h2>Первое</h2>
        <p>There is some text</p>
    </a>
    <a href="#" class="card">
        <h2>Первое</h2>
        <p>There is some text</p>
    </a>
    <a href="#" class="card">
        <h2>Первое</h2>
        <p>There is some text</p>
    </a>
    <a href="#" class="card">
        <h2>Первое</h2>
        <p>There is some text</p>
    </a>
    <a href="#" class="card">
        <h2>Первое</h2>
        <p>There is some text</p>
    </a>

</div>


<!--
{%if cards%}
{% for card in cards %}
    <div class="card">
        <div class="card-pic"><img src="{{card.pic}}"></div>
        <div class="card-info">
            <div class="card-title">
                <a href="{{card.url}}">{{card.title}}</a>
            </div>
            <div class="card-descr">
                Требуемые ингредиенты:
                {%for ingr in card.recipe%}
                    {{ingr}},
                {%endfor%}
            </div>
        </div>
    </div>
{%endfor%}
{%endif%}
-->
{% endblock %}
