{% extends "index.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/catalog_style.css') }}" />
{% endblock %}
{% block class %}start-catalog{% endblock %}
{% block content %}
<!-- HERE YOUR CONTENT HTML CODE -->
<div class="cards">
    <a href="/first" class="card">
        <h2>Первое</h2>
    </a>
    <a href="/second" class="card">
        <h2>Второе</h2>
    </a>
    <a href="/dessert" class="card">
        <h2>Дисерт</h2>
    </a>
    <a href="/salad" class="card">
        <h2>Салат</h2>
    </a>
</div>


<div class="catalog-block">
    {%if cards%}
    {% for card in cards %}
    <div class="recipe-card">
        <aside>
            <img src="{{card.url_img}}" alt="Chai Oatmeal" />
            <a href="{{card.url}}" class="button"><span class="icon icon-play"></span></a>
        </aside>
        <article>
            <h2>{{card.name}}</h2>
            <h3>{{card.category}}</h3>
            <ul>
                <li><span class="icon icon-clock"></span><span>{{card.time}} min</span></li>
            </ul>
            <!--<p>For an extra thick and creamy bowl, add oat bran.  It'll make for a hearty helping and also add more fiber to your meal.  If you love the taste of chai, you'll enjoy this spiced version with coriander, cinnamon, and turmeric.</p>-->
            <p class="ingredients">
                <span>Ingredients:&nbsp;</span>
                {{ card.ingridients }}
            </p>
        </article>
    </div>
    {%endfor%}
    {%endif%}

</div>
{% endblock %}
