{% extends "index.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/select_style.css') }}" />
{% endblock %}
{% block class %}start-select{% endblock %}
{% block content %}
<div class="main-content">
    <h1 class="wtd">Выберите ингредиенты</h1>
    <form action="/recipes" method="POST">
        <div class="form-div">
            <div class="first-col">
                <input type="checkbox" id="potato" name="potato" class="rec-cb">
                <label for="potato" class="cb-label">Картошка</label>


            </div>

            <div class="second-col">
                <input type="checkbox" id="carrot" name="carrot" class="rec-cb">
                <label for="carrot" class="cb-label">Морковь</label>


            </div>

            <div class="third-col">
                <input type="checkbox" id="cucumber" name="cucumber" class="rec-cb">
                <label for="cucumber" class="cb-label">Огурец</label>


            </div>
        </div>
        <input type="submit" value="Найти рецепты" class="submit">
    </form>
</div>


{% endblock %}