{% extends "index.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/select_style.css') }}" />
{% endblock %}

{% block content %}
<div class="main-content">
    <h1 class="wtd">Выберите ингредиенты</h1>
    <form method="post">
        <div class="form-div">
            {{ form.hidden_tag() }}
            <div class="first-col">
                {{ form.cb1 }}
            </div>

            <div class="second-col">
                {{ form.cb2 }}
            </div>

            <div class="third-col">
                {{ form.cb3 }}
            </div>
        </div>
        <button type="submit" class="submit">Найти рецепты</button>
    </form>
</div>


{% endblock %}